.board-row:after {
    clear: both;
    content: "";
    display: table;
  }

.square {
  height: 98px;
  width: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  background: rgb(235, 201, 235);
  border: 3px solid rgb(243, 245, 247);
  float: left;
  font-size: 60px;
  font-family: 'Press Start 2P';
  line-height: 34px;
  text-align: center;
  border-radius: 15px;
  color: #af84a3;
}

.square:focus {
  outline: none;
}
.square:hover{
    background-color:  #e2b5d5;;
}

.square:active{
  transform: scale(1.1);
}

.game {
  display: flex;
  flex-direction: row;
}

.status {
  margin-top:8px;
  font-family: 'Fredoka One', cursive;
  font-size: 18px;
  color: #8d4ac4;
}

#game_title{
  font-family: 'Schoolbell', cursive;
  color: rgb(96, 5, 172);
  font-weight: 800;
}
.janken-game {
  padding: 10px;
  text-align: center;
  margin:auto;
  
}

.janken-square {
  background-color: rgb(250, 241, 207);
  border: 4px solid rgb(110, 62, 150);
  border-radius: 10px;
  height: 250px;
  width: 250px;
  padding: 10px;
  margin: 5px;
}

.janken-pics{
  width: 100%; 
  max-width: 200px; 
  height: auto; 
}

input[type='radio'] {
  transform: scale(1.5);
  margin-left: 20px;
}

.janken-square h4{
  font-family: 'Fredoka One', cursive;
  color: #4b2727;
}

.janken-square h1{
  font-family: 'Fredoka One', cursive;
  
}

.controls_janken{
  height: 41px;
  width: 18%;
  border: none;
  margin: 7px;
  position: relative;
  border-radius: 18px;
  padding-top: 5px;
  padding-left: 6px;
  padding-right: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #1dbebe;
  text-transform: uppercase;
  box-shadow: 0px 10px 0px 0px #179c9c;
  font-family: 'Fredoka One', cursive;
  font-size: 17px;
  cursor: pointer;
}


.controls_janken:hover {
  background-color: #26cccc;
}


.controls_janken:active {
  transform: translate(0px, 5px);
  box-shadow: 0 0 0 0 black;
}
.controls_janken:focus { 
  outline:0 !important; 
}

.controls_janken:disabled{
  background-color: #9bbed6;
  box-shadow: 0px 10px 0px 0px #5a7e99;
  outline:0 !important; 
  color: rgb(219, 222, 230);
}

.janken-square .minigames_btn{
  width: 150px;
  height: 60px;
  line-height: 1.3rem;
  font-size: 18px;
  font-family: 'Fredoka One', cursive;
  font-weight: 200;
  color: rgb(110, 62, 150);
  
}

.choose_game .minigames_btn{
  width: 220px;
  height: 50px;
  margin: 10px;
  border-radius: 12px;
}

.choose_game .header_txt{
  font-family: 'Fredoka One', cursive;
  color: rgb(96, 5, 172);
  /* font-weight: 800; */
}

.choose_game .gamble_txt{
  font-family: 'Schoolbell', cursive;
  color: rgb(96, 5, 172);
  font-weight: 800;
}



.mb-3{
  font-family: 'Schoolbell', cursive;
  color: rgb(96, 5, 172);
  font-weight: 800;
}

.tictactoe {
    width: 40%;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 6px;
    border: none;
    border-radius: 35px;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(30, 3, 73);
    background-color: #f8c621;
    text-transform: uppercase;
    box-shadow: 0px 7px 0px 0px #d1b200;
}
