.home {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: fixed;
  left:0;
  top: 48px;
  display: flex;
  flex-direction: row;
  background-image: url("https://thumbs.gfycat.com/TenseExcitableGilamonster-small.gif");
  background-repeat: no-repeat;
  background-size: 100% 108%;
}

#main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#alert_bubble{
  display: flex;
  position: relative;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-radius: 12px;
  padding-top: 6px;
  padding-bottom: 0px;
  margin-bottom: 2px;
}