/* font-family: 'Chewy', cursive;
font-family: 'Fredoka One', cursive; <<--- current Login page font
font-family: 'Press Start 2P', cursive; <<--- LOGO FONT
font-family: 'Roboto', sans-serif;
font-family: 'Schoolbell', cursive; */


.sideNav{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    background-color: #bce7ff;
    min-width: 270px;
    font-family: 'Fredoka One', cursive;
}


#sideNav_header{
    font-family: 'Schoolbell', cursive;
    font-weight: 900;
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 15px;
    color: rgb(73, 0, 133);
}

.greeting{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: relative;
    color: #480085;
}

.greeting-text{
    margin-bottom: 2px;
}

#greeting-name{
    margin-top: 15px;
    font-size: 35px;
}

#greeting-money{
    font-size: 22px;
}

#coin-icon {
    width: 20px;
    height: 18px;
    margin-top: 7px;
    margin-right: 5px;
}
.buyPet_btn{
    width: 50%;
    padding: 10px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(30, 3, 73);
    background-color: #f8c621;
    text-transform: uppercase;
    border: none;
    border-radius: 35px;
    box-shadow: 0px 9px 0px 0px #d1b200;
    
}

.buyPet_btn:hover {
    cursor:pointer;
    background-color: #f5d56e;
}


.buyPet_btn:active {
    transform: translate(0px, 5px);
    box-shadow: 0 0 0 0 black;
 }

 .minigames_btn{
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(30, 3, 73);
    background-color: #f8c621;
    text-transform: uppercase;
    box-shadow: 0px 9px 0px 0px #d1b200;
 }

 .minigames_btn:hover {
    cursor:pointer;
    background-color: #f5d56e;
}


.minigames_btn:active {
    transform: translate(0px, 5px);
    box-shadow: 0 0 0 0 black;

 }

