.home {
    position: fixed;
    left:0;
    top: 48px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    background-image: url("https://thumbs.gfycat.com/TenseExcitableGilamonster-small.gif");
    background-repeat: no-repeat;
    background-size: 100% 108%;
  }

  #greeting{
    display: flex;
    width: 292px;
    padding: 10px;
    /* align-items: center; */
    position: absolute;
    right: 18px;
    top: 15px;
    font-family: 'Press Start 2P';
    color: #480085;
  }