.tamagotchi_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tamagotchi_background {
    position: relative;
    min-width: 1000px;
    min-height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#screen {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    border-radius: 25px;
    max-width: 60%;
    min-height: 436px;
    top: 21%;
    left: 20%;
    background-color: rgb(243, 245, 247);
  }

