.tamagotchi_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tamagotchi_background {
    /* background: url("../images/makegotchi_egg.png"); */
    position: relative;
    min-width: 1000px;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#screen {
    position: absolute;
    border-radius: 25px;
    width: 610px;
    height: 454px;
    top: 215px;
    left: 167px;
    background-color: rgb(235, 238, 240);
  }

