.App {
  text-align: center;
}

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


#sideNav {
  background-color: #f11414;
  height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tempDiv {
  text-align:center;
  background-color: #4ccca1;
  /* padding: 10em; */
  width: 400px;
  margin: auto;
  padding: 20px;
}