/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
} 

.App {
  width: 100%;
  height: 100%;
}

#container {
  height: 100%;
  max-width: 100%;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/ac/f2/02/acf202369eb7623a0edba509a04c8864.png");
}


.sideNav {
  min-height: 100%;
  background-color: #f11414;
  min-width: 250px;
}

.icon-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-info {
  margin-top: auto;
  margin-bottom: auto;
}

.icon-img {
  display: block;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

#pet-img {
  height: 250px;
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.tempDiv {
  text-align:center;
  background-color: #4ccca1;
  /* padding: 10em; */
  width: 400px;
  margin: auto;
  padding: 20px;
}
